# Node.js
node_modules/

# Логи
*.log

# Директории для кэша и временных файлов
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .env файлы для хранения секретных данных (например, переменных окружения)
.env

# ОС-специфичные файлы
.DS_Store          # Для MacOS
Thumbs.db          # Для Windows

# Папки для кэша
.cache/

# Папки, сгенерированные сборщиками
dist/
build/

# Файлы, созданные IDE или текстовыми редакторами
.vscode/
.idea/

# Системные файлы, например, для macOS или Windows
*.swp               # Для vim
